<div *ngIf="ticket" class="row horizontal-rule print-area-head">
  <div class="col">
    <h2>Ticket #{{ticket.id}}</h2>
    <h6>Ticket details</h6>
  </div>
  <div class="col-auto border-1">
    <p class="ascent-color mb-0">Date: <span class="text-white">{{ticket.submitDate | date }}</span></p>
    <p class="ascent-color mb-0">Status: <span class="text-white">{{ticket.ticketStatus }}</span></p>
    <p class="ascent-color mb-0">By: <span class="text-white">{{ticket.userName }}</span></p>
  </div>
</div>
<div *ngIf="ticket" class="container">
  <div class="row">
    <div class="ps-0 ms-lg-0 me-lg-auto col-lg-7 ms-lg-auto col-md-12 col-sm-12 col-lg-7 col-md-12 col-sm-12">
      <button
        [routerLink]="['/admin/tickets']"
        class="btn mt-sm-2 mt-md-0 col-md-5 col-lg-5 btn-ascent">
        Return to tickets page
      </button>
    </div>
    <div style="visibility: hidden" class="d-none d-lg-block ms-lg-2 ms-lg-auto me-lg-auto card col-lg-4 col-md-12 mt-3 mt-lg-0 ms-0 col-sm-12 col-auto">
      dummy
    </div>
  </div>
  <div class="row">
    <div class="card ms-lg-auto me-lg-auto col-lg-7 col-md-12 col-sm-12">
      <table id="registration-detail-table" class="print-area card-body table table-borderless">
        <tbody>
        <tr>
          <td>Ticket Type:</td>
          <td>{{ticket.type}}</td>
        </tr>
        <tr>
          <td>Priority:</td>
          <td>{{ticket.priority}}</td>
        </tr>
        <tr>
          <td>Travel To:</td>
          <td>{{ticket.travelTo}}</td>
        </tr>
        <tr>
          <td>Travel From:</td>
          <td>{{ticket.travelFrom}}</td>
        </tr>
        <tr>
          <td>Travel Start:</td>
          <td>{{ticket.startDate | date}}</td>
        </tr>
        <tr>
          <td>Travel End:</td>
          <td>{{ticket.endDate | date}}</td>
        </tr>
        <tr>
          <td>Passport Number:</td>
          <td>{{ticket.passportNumber}}</td>
        </tr>
        <tr>
          <td>Project Name:</td>
          <td>{{ticket.projectName}}</td>
        </tr>
        <tr>
          <td>Expense Borne By:</td>
          <td>{{ticket.borneBy}}</td>
        </tr>
        <tr *ngIf="ticket.approverName != '' && ticket.approverName != null">
          <td>Travel Approver Name:</td>
          <td>{{ticket.approverName}}</td>
        </tr>
        <tr *ngIf="ticket.expectedDuration != '' && ticket.expectedDuration != null">
          <td>Expected Travel Duration:</td>
          <td>{{ticket.expectedDuration}}</td>
        </tr>
        <tr *ngIf="ticket.maxAllowedAmount != '' && ticket.maxAllowedAmount != null">
          <td>Max Allowed Amount:</td>
          <td>{{ticket.maxAllowedAmount}}</td>
        </tr>
        <tr>
          <td>More Details:</td>
          <td>{{ticket.moreDetails}}</td>
        </tr>
        </tbody>
      </table>
    </div>

<!--    Ticket Response -->
    <div class="ms-lg-2 ms-lg-auto me-lg-auto card col-lg-4 col-md-12 mt-3 mt-lg-0 ms-0 col-sm-12 col-auto">
      <div class="align-middle card-header py-3">
        <div class="text-center row pb-0">
          <h5 class="col card-title mb-0">Response</h5>
          <div class="col col-auto ms-auto badge my-2"></div>
        </div>
      </div>
      <form class="mt-4" [formGroup]="resolveForm" (ngSubmit)="submitResolve()">
        <div>
          <label class=" col-3" for="ticketStatus">Ticket Status</label>
          <select [class.is-invalid]="ticketStatus.invalid && ticketStatus.touched" formControlName="ticketStatus" class="col form-select" id="ticketStatus" name="country">
            <option *ngFor="let st of allStatus" value="{{st}}">{{st}}</option>
          </select>
          <small class="offset-3 text-danger" [class.d-none]="!ticketStatus.invalid || !ticketStatus.touched" >Ticket status is required</small>
        </div>
        <div>
          <label class="col-3" for="comment">Ticket Comment</label>
          <textarea
            [class.mb-0]="comment.invalid && comment.touched"
            [class.is-invalid]="comment.invalid && comment.touched"
            class="form-control hei text-area" id="comment" formControlName="comment" placeholder="comments (upto 100 characters)"></textarea>
          <p class="mb-3">
            <small class="mb-2 text-danger" *ngIf="comment.invalid && comment.touched" >Comment should be of less than 1000 characters</small>
          </p>
        </div>
        <div class="row">
          <label class="mx-sm-auto col-auto mx-0 m-lg-0 " for="documents">Document</label>
          <app-file-upload id="documents" [class.is-invalid]="documents.invalid" formControlName="documents"></app-file-upload>
          <p class="ms-auto text-center d-block">
            <small class="text-danger" *ngIf="documents.invalid" >".{{ documents.errors?.invalidFileExtension }}" file extension is not supported</small>
          </p>
        </div>
        <button [disabled]="resolveForm.invalid" class="mb-4 mt-3 btn btn-ascent">Submit</button>
      </form>
    </div>
  </div>
</div>



