/* You can add global styles to this file, and also import other style files */

nav {
  background-color: #363636;
  margin-bottom: 2rem;
}

nav a {
  color: #bb86fc;
}

nav a:hover, nav a::selection {
  color: #724293;
}

.dropdown-menu {
  background-color: #363636!important;
}

.dropdown-menu li a:hover {
  background-color: #2f2f2f !important;
}

#navbarSupportedContent ul li a {
  color: #DAB2FE;
}

#navbarSupportedContent ul li a.active {
  text-decoration: underline;
}

#navbarSupportedContent ul li.nav-item .nav-link.disabled {
  color: rgba(218, 178, 254, 0.38);
}
