<div class="horizontal-rule print-area-head">
  <h2>{{ isEditPage ? "Edit Details:" : "Registration:" }} confirmation</h2>
</div>
<div *ngIf="!isEditPage" class="horizontal-rule print-area-head">
  <h6>Thank you for registering. The admin will contact you shortly with your username and password.</h6>
</div>
<div class="container">
  <div class="row">
    <div class="card col-lg-8 col-md-9 col-sm-12">
      <table id="registration-detail-table" class="print-area card-body table table-borderless">
        <tbody>
        <tr>
          <td>Name:</td>
          <td>{{user.firstName + ' ' + user.lastName}}</td>
        </tr>
        <tr>
          <td>Business Unit:</td>
          <td>{{user.businessUnit}}</td>
        </tr>
        <tr>
          <td>Title:</td>
          <td>{{user.title}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td>Telephone:</td>
          <td>{{user.telephone}}</td>
        </tr>
        <tr>
          <td>Address 1:</td>
          <td>{{user.address.address1}}</td>
        </tr>
        <tr>
          <td>Address 2:</td>
          <td>{{user.address.address2}}</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>{{user.address.city}}</td>
        </tr>
        <tr>
          <td>State:</td>
          <td>{{user.address.state}}</td>
        </tr>
        <tr>
          <td>Zip Code:</td>
          <td>{{user.address.zipCode}}</td>
        </tr>
        <tr>
          <td>Country:</td>
          <td>{{user.address.country}}</td>
        </tr>
        </tbody>
      </table>
      <div class="container">
        <div class="row">
          <button (click)="printDetails()" class="btn col-md-3 mb-1 mb-sm-1 me-md-auto col-sm-6 btn-outline-success">Print</button>
          <button (click)="editRegistration()" class="btn col-md-3 mb-1 mb-sm-1 me-md-auto col-sm-6  btn-ascent">Edit</button>
          <button (click)="confirmRegistration()" class="btn mt-sm-2 mt-md-0 col-md-5 btn-ascent">Return to homepage</button>
        </div>
      </div>

    </div>

  </div>
</div>
